.mobile-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    >span {
        display: inline-block;
        width: 30px;
        height: 5px;
        background: #000;
        margin-bottom: 5px;
        transition-property: background-color;
        transition-duration: 1s;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:hover {
        >span {
            background: red;
        }
    }
}






@media screen and (max-width : 600px) {}