@import 'reset';

.hover-demo {
    width: 80%;
    height: 100px;
    background: red;
    color: yellow;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;

    &:hover {
        background: blue;
        color: #fff;
    }
}