*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// --------------------------我是超連結--------------------------
a {
    text-decoration: none;
    color: inherit;

    // -----------------我是超連結裡的圖片(logo)-------------------
    >img {
        width: 84px;
        height: 70px;
    }
}

// ------------------------我是menu裡面的ul------------------------
ul {
    display: block;
}

// -------------------------我是li裡面的點(.)-----------------------
li {
    list-style-type: none;
}

.btnn {
    width: 20px;
    height: 20px;
}

// --------------------------我是header--------------------------
.header {
    width: 100%;
    height: auto;
    margin: auto;
    position: sticky;
    top: 0;
    left: 0;

    // --------------------------我是header容器--------------------------
    .header-container {
        width: 80%;
        margin: auto;


        //-------------------------- 我是header內容--------------------------
        .header-content {
            font-size: 15px;
            font-weight: 550;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // 我是header裡的menu

            .menu {
                margin: auto 0;
                width: 40%;
                color: #000;
                font-family: 'Open Sans', sans-serif;
                display: flex;
                align-items: center;
                justify-content: space-around;
                text-align: center;

                // Daddys 文字變顏色
                div {
                    &:hover {
                        color: rgb(75, 219, 242);
                        transition-duration: 1s;
                    }
                }

            }
        }

    }
}

// --------------------------我是wrap--------------------------

.wrap {

    width: 100%;
    height: 100%;
    margin: auto;
    background: #000;

    // --------------------------我是wrap 容器--------------------------
    .wrap-container {


        width: 100%;
        height: 100%;
        margin: auto;

        .wrap-content-1 {
            width: 100%;
            height: 100%;
            margin: auto;

            img {
                width: 600px;
                height: 400px;
                object-fit: cover;
                margin: auto;
            }
        }
    }
}