@import 'reset';

body {
    background: #000;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
    // background: #dedede;

}

a {
    color: inherit;
    text-decoration: none;
}


//    html  

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;

    .header-content {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .menu ul {
        list-style-type: none;
        display: flex;

        li {
            margin-right: 20px;
            font-weight: 600;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: blue;
            }


        }

        .en {
            font-size: 12px;
            font-family: monospace;
            text-transform: uppercase;
        }
    }
}

.join-form {
    // min-height: 100vh;
    color: #fff;
    background: #000;
    background-image: url(../images/banner.jpeg);
    background-size: cover;
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.438);
        z-index: 1;
    }

    .join-form-content {
        display: flex;
        // justify-content: space-between; 
        align-items: center;
        min-height: 100vh;
        position: relative;
        z-index: 2;

        .content-wrap {
            background: rgba(14, 50, 80, 0.9);
            display: flex;
            width: 100%;


            >div {
                // background: rgba(14, 50, 80, 0.9);
                width: 50%;
                padding: 20px;
                position: relative;

                &:first-child::before {
                    content: '';
                    border-right: 3px dashed #fff;
                    position: absolute;
                    right: 0px;
                    top: 20px;
                    height: calc(100% - 40px);

                }

            }
        }
    }

    .join-form-text {
        font-size: 14px;
        line-height: 30px;
        text-align: justify;
    }
}

// res


.slogan {
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: calc(50% - 140px);
        width: 0;
        height: 3px;
        border-left: solid 100px #1072c2;
        border-right: solid 180px #fff;
    }
}


.form-control {
    width: 100%;
    height: 50px;
    border: 0;
    outline: 0;
    padding: 0 15px;
    border-radius: 8px;
    font-size: 18px;

    &:focus {
        background: #5a79b3;
        color: #fff;

        &::placeholder {
            color: rgb(204, 204, 204);
        }
    }
}

.button {
    padding: 8px 20px;
    border: 0;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer;

    &.primary {
        background: #8110c2;
        color: #fff;

        &:hover {
            background-color: #6e09a8;
        }
    }

    &.danger {
        background: rgb(218, 49, 27);
        color: #fff;

        &:hover {
            background-color: rgb(172, 33, 15);
        }
    }
}

.text-right {
    text-align: right;
}

.form-control-item {
    margin-bottom: 15px;

    &.form-control-mixed {
        position: relative;

        &.after {
            .form-control {
                padding-right: 80px;
            }

            .form-control-append {
                right: -1px;

                .button {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        &.before {
            .form-control {
                padding-left: 80px;
            }

            .form-control-append {
                left: -1px;

                .button {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }

    .form-control-append {
        position: absolute;
        top: 0;
        height: 100%;

        .button {
            height: 100%;
            display: inline-block;
        }
    }
}

.process-flow {
    background: #000;
    background-image: url(../images/process.jpeg);
    background-size: cover;
    background-position: center center;
    // height: 100vh;
    position: relative;
    z-index: 1;
    color: #fff;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.438);
        z-index: 1;
    }

    .process-wrap {
        position: relative;
        z-index: 2;
    }
}

.flow {
    margin-top: 50px;
    position: relative;
    padding: 20px 0;

    &::after {
        content: '';
        border-left: 6px dashed #fff;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        margin-left: -3px;
    }

    .flow-item {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        padding: 20px 0;
        margin-bottom: 15px;



        &:nth-child(even) {
            .flow-text {
                right: 50%;
                left: unset;
                nav-left: unset;
                margin-right: 72px;
                text-align: right;

            }
        }
    }



    .flow-circle {
        width: 36px;
        height: 36px;
        border-radius: 50px;
        background: red;
        position: relative;
        z-index: 2;
    }

    .flow-text {
        background: blue;
        padding: 20px;
        border-radius: 10px;
        left: 50%;
        margin-left: 72px;
        position: absolute;
    }
}

.footer {
    background: #fff;
    padding: 50px 0;
    text-align: right;
}

@import "layout_1_rwd_mobile"